* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.212);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.is-active {
    display: flex;
}

.container {
    background-color: aqua;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    text-align: center;
    position: relative;
}

.btnFechar {
    width: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}